$main-font: Lato, PT Sans, Helvetica Neue, Helvetica, Arial;

// colors

$header-color: #0075B2;
$yellow: #FFBE63;
$footer-color: #222121;

// heights

$header-height: 100px;
$footer-height: 80px;
$logo-size: 7em;
$logo-offset: 10px;
